<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reconocimiento Facial IA</title>

</head>

<body>
<!--Contenedor WebCam-->
<h1 style="text-align:center; ">Detección de Rostros en Tiempo Real. Luz emir</h1>
<div id="WebCam"
     style="margin:auto; width:700px; background-color:#2d2d2d; border-radius: 30px; box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.3);">
    <img src="{{url_for('video')}}" width="100%" height="100%"
         style="border-radius: 30px;"/>
</div>

</body>
</html>